<%- include('partials/_header') -%>
<body>

  <%- include('partials/_nav') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Black Sails, Jon Steinberg ve Robert Levine tarafından, Starz için yaratılan bir televizyon dizisidir. 
          26 Temmuz 2013 tarihinde, Starz on bölümlük ikinci sezon onayı vermiştir. Louis Stevenson’ın romanı Treasure
          Island'ın 20 yıl öncesini konu alan Black Sails, Korsanlığın altın çağında Kaptan Flint ve tayfasına yeni
          kattığı John Silver'ın başlarına açtığı belaları anlatıyor. Los Angeles Times'dan Robert Lloyd dizi için "Black
          Sails bir korsan hazinesi. Starz'ın yeni dizisi, korsanların günlük yaşamını gerçekçi bir biçimde resmediyor"
          ifadelerini kullandı. Dizi, Güney Afrika'daki Cape Town Film Stüdyolarında çekiliyor. Sadece bir gemiye eklenen
          detaylar için Üç yüz işçi saatlerce çalışmıştır.</p>
      </div>
    </div>
  </div>

  <hr>

  <%- include('partials/_footer') -%>



</body>

</html>
